/node_modules
/vendor
.phpunit.result.cache
.env
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/public/build
/public/hot
/public/storage
/storage/framework/testing/disks/
/storage/framework/views/*.php
/storage/logs/*.log
/storage/logs


